# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.zip

/cmake-build-debug/
/unprepared_srtm/
/prepared_srtm/klyuchevskaya.bin
/prepared_srtm/klyuchevskaya.hdr
/prepared_srtm/V2_2_160.64_56.06.tif
/prepared_srtm/V2_2_160.64_56.06_tile_1_1.STL
/.qmake.stash
cp
/klyuchevskaya.STL
/cmake-build-release/
